<div class="container">
  <h2>Contacts</h2>

  <ol class="contact-list">
    <!-- contact row -->
    <li *ngFor="let contact of contactList$ | async" (click)="selectContactRow(contact)">
      <img src={{contact.picture.thumbnail}} alt="">
      <div class="contact-list-row-line"></div>
      <div class="contact-list-row-name">{{contact.name.first}} {{contact.name.last}}</div>
    </li>
  </ol>


  <!-- beginnings of pagination implement -->

  <!-- <div class="pagination">
    <input type="button" value="<<">
    <input [formControl]="pageNumber" type="text" name="pageNumber" class="pageNumber">
    <input type="button" value=">>">
  </div> -->
</div>
